.header {
  background-color: #00529b;
  color: #fff;
  margin: 0px -20px;
  padding: 0px 20px;
}
.navigation {
  padding-top: 30px;
}
.content {
  overflow: visible;
  padding-top: 30px;
}
.content dl dd,
.content dl dt {
  margin-bottom: 4px;
}
.content dl .btn-group {
  height: 18px;
  vertical-align: top;
}
.red {
  color: #FF0000;
}
#message {
  display: none;
}
