/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.low-opacity {
  opacity: 0.3;
}
noscript {
  opacity: 0.8;
}
noscript .modal {
  color: white;
  background-color: #ce0000;
}
.tooltip {
  white-space: nowrap;
}
dl dt,
dl dd {
  line-height: 24px;
}
dl dt .btn,
dl dd .btn {
  max-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#header {
  margin-bottom: 30px;
}
#header .logo {
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#header .title h1,
#header .title h2,
#header .title h3,
#header .title h4,
#header .title h5,
#header .title h6 {
  margin-top: 11px;
  margin-bottom: 11px;
  line-height: 30px;
}
#header .user {
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#content {
  overflow: visible;
}
#content .dropdown-menu {
  min-width: 100px;
}
#content .dropdown-menu a[data-value] {
  cursor: pointer;
}
#content table {
  margin-bottom: 6px;
}
#content table thead th.col-button,
#content table thead th.col-number,
#content table thead th.col-boolean,
#content table thead th.col-icon {
  width: 1%;
}
#content table tbody td.col-button {
  padding: 1px 0px;
  text-align: center;
}
#content table tbody td.col-button .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#content .clicable {
  cursor: pointer;
}
#flowMessager {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 40%;
  pointer-events: none;
}
#flowMessager .alert {
  float: right;
  clear: both;
  margin-bottom: 0px;
  opacity: 0.9;
  pointer-events: auto;
}
@media (max-width: 480px) {
  #flowMessager {
    width: 100%;
  }
  #flowMessager .alert {
    float: none;
  }
}
.load-image {
  position: absolute;
  width: 100%;
  top: 8px;
  z-index: 2;
}
.load-image img {
  display: block;
  margin: 0px auto;
}
