.low-opacity {
  opacity: 0.3;
}
noscript {
  opacity: 0.8;
}
noscript .modal {
  color: white;
  background-color: #ce0000;
}
.tooltip {
  white-space: nowrap;
}
dl dt,
dl dd {
  line-height: 24px;
}
dl dt .btn,
dl dd .btn {
  max-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#header {
  margin-bottom: 30px;
}
#header .logo {
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#header .title h1,
#header .title h2,
#header .title h3,
#header .title h4,
#header .title h5,
#header .title h6 {
  margin-top: 11px;
  margin-bottom: 11px;
  line-height: 30px;
}
#header .user {
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#content {
  overflow: visible;
}
#content .dropdown-menu {
  min-width: 100px;
}
#content .dropdown-menu a[data-value] {
  cursor: pointer;
}
#content table {
  margin-bottom: 6px;
}
#content table.table-bordered {
  border-radius: 4px;
}
#content table tbody .btn {
  margin: 0px 0px;
  width: 100%;
}
#messager {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 40%;
  pointer-events: none;
}
#messager .alert {
  float: right;
  clear: both;
  margin-bottom: 0px;
  opacity: 0.9;
  pointer-events: auto;
}
@media (max-width: 480px) {
  #messager {
    width: 100%;
  }
  #messager .alert {
    float: none;
  }
}
.load-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.load-image img {
  margin: 0px auto;
  width: 100%;
}
