/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.8.2014, 21:32:51
    Author     : Ondrej
*/
body {
  background-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
#header {
  background-color: #00529b;
  color: #fff;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0px 20px;
}
#header .logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin-top: 20px;
}
#content .page-header {
  border-bottom-color: #ddd;
}
#content .required::after {
  content: " *";
  color: #C00;
}
