
@base-color: #00529b;

.header {
    background-color: @base-color;
    color: #fff;
    margin: 0px -20px;
    padding: 0px 20px;
    .logo {
    }
    .title {
    }
}

.navigation {
    padding-top: 30px;
    .nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
        background-color: @base-color;
    }
    .nav-stacked > li.divider {
        margin: 6px 0px;
        border-bottom: 1px solid #ddd;
        
    }
}
.content {
    overflow: visible;
    padding-top: 30px;
    h2, h3, h4, h5 {
        margin-top: 20px;
    }
    dl {
        dd, dt {
            margin-bottom: 4px;
        }
        .btn-group {
            height: 18px;
            vertical-align: top;
        }
    }
    table {
        max-width: 920px;
        margin-bottom: 6px;
        thead {
            background-color: #f5f5f5;
        }
    }
}

.red {
    color: #FF0000;
}

#messager {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 40%;
    .alert {
        float: right;
        clear: both;
        margin-bottom: 0px;
        opacity: 0.9;
    }
    @media (max-width: 480px) { 
        width: 100%;
        .alert {
            float: none;
        }
    }    
}
