


.low-opacity {
    opacity: 0.3;
}
noscript {
    opacity: 0.8;
    .modal {
        color: white;
        background-color: #ce0000;
    }
}

dl {
    dt, dd {
        line-height: 24px;
        .btn {
            max-height: 24px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

#header {
    margin-bottom: 30px;
}
#menu {
}
#content {
    overflow: visible;
    .dropdown-menu {
        min-width: 100px;
        a[data-value] {
            cursor: pointer;
        }            
    }
    table {
        max-width: 920px;
        margin-bottom: 6px;
        tbody {
            .btn {
                margin: -7px 0px;
                width: 100%;
            }
        }
    }
}

#messager {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 40%;
    .alert {
        float: right;
        clear: both;
        margin-bottom: 0px;
        opacity: 0.9;
    }
    .alert-error { //because of bootstrap 3
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    @media (max-width: 480px) { 
        width: 100%;
        .alert {
            float: none;
        }
    }    
}

.load-image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    img {
        margin: 0px auto;
        width: 100%;
    }
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
    &.icon-key,
    &.glyphicon-key {
        background-image: url('../img/icons/icon-key-white.png');
    }
    &.icon-help, 
    &.glyphicon-help {
        background-image: url('../img/icons/icon-help-white.png');
    }
}
.icon-key,
.glyphicon-key {
    background-image: url('../img/icons/icon-key.png');
    background-position: center center;
    height: 14px; 
    width: 14px;
}
.icon-help,
.glyphicon-help {
    background-image: url('../img/icons/icon-help.png');
    background-position: center center;
    height: 14px; 
    width: 14px;
}