/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.8.2014, 21:32:51
    Author     : Ondrej
*/

.icon-key {
    background-image: url('/bootstrap/img/more-icons/icon-key.png');
    background-position: center center;
}.nav-pills>.active>a>.icon-key {
    background-image: url('/bootstrap/img/more-icons/icon-key-white.png');
}
.icon-help {
    background-image: url('/bootstrap/img/more-icons/icon-help.png');
    background-position: center center;
}.nav-pills>.active>a>.icon-help {
    background-image: url('/bootstrap/img/more-icons/icon-help-white.png');
}

.content {
    #profile {
        position: relative;
        .dropdown-menu {
            min-width: 0px;
            a[data-value] {
                cursor: pointer;
            }            
        }
        @media (max-width: 480px) {
            .btn-group {
                position: static;
                .dropdown-menu.multi-level {
                    position: absolute;
                    left: 0px;
                }
            }
        }
    }
}
