.content {
    dl {
        .btn-group {
            height: 18px;
            .btn {
                height: 18px;
                vertical-align: top
                .icon {
                    line-height: 6px;
                    vertical-align: bottom;
                }
            }
        }
    }
}