
#header {
    background-color: #DF014B;
    color: white;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    background-color: #DF014B;
}

a, a:hover, a:focus {
    color: #DF014B;
}