
body {
    border-top: 12px solid #ff5e00;
    background: #ffffff url("/apps-include/img/page-gradient.png") top left repeat-x;
}

#header .logo {
    height: 20px;
}
#header .logo img {
    height: 34px;
    margin-top: -6px;
}
#header .user {
    margin-top: 15px;
}
.col-boolean .true {
    color: green;
}
.col-boolean .false {
    color: #DD0022;
}

.progress-bar {
    background-color: #ff5e00;
}